<div class="container background">
    <h1 class="h1-style">My photos</h1>
        <div class="row">
            <div class="col-sm center-link">
                <%= link_to "Add new photo", "/users/#{@user.id}/posts/new" %>
            </div>
        </div>
    <div class="post-style">
        <% @posts.each_slice(3) do |group| %>
            <div class="row">
                <% if group.count == 3 %>
                    <% group.each do |post| %>
                            <div class="col-sm post-col-margin">
                                    <a href="/users/<%=post.user.id%>/posts/<%=post.id%>">
                                        <img class="welcome-post-image" src="<%= post.photo %>" />
                                    </a>
                                <br>
                                    <%= post.caption %>
                                <br>
                                    Species: <%= post.fish.name %>
                                <br>
                                    Location: <%= post.location %>
                            </div>
                    <% end %>
                <% elsif group.count == 2 %>
                    <% group.each do |post| %>
                            <div class="col-sm post-col-margin">
                                    <a href="/users/<%=post.user.id%>/posts/<%=post.id%>">
                                        <img class="welcome-post-image" src="<%= post.photo %>" />
                                    </a>
                                <br>
                                    <%= post.caption %>
                                <br>
                                    Species: <%= post.fish.name %>
                                <br>
                                    Location: <%= post.location %>
                            </div>
                    <% end %>
                            <div class="col-sm post-col-margin"></div>
                <% elsif group.count == 1 %>
                    <% group.each do |post| %>
                            <div class="col-sm post-col-margin">
                                    <a href="/users/<%=post.user.id%>/posts/<%=post.id%>">
                                        <img class="welcome-post-image" src="<%= post.photo %>" />
                                    </a>
                                <br>
                                    <%= post.caption %>
                                <br>
                                    Species: <%= post.fish.name %>
                                <br>
                                    Location: <%= post.location %>
                            </div>
                    <% end %>
                            <div class="col-sm post-col-margin"></div>
                            <div class="col-sm post-col-margin"></div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>