<div class="container background">
    <h1 class="h1-style">New photo</h1>
        <div class='post-style'>
            <div class="row">
                <div class="col-sm">
                    <%= form_for [@user,@post] do |f| %>
                                <label>Title:</label><br>
                                    <%= f.text_field :title %><br>
                                <label>Caption:</label><br>
                                    <%= f.text_field :caption %><br>
                                <label>Fish species:</label><br>
                                    <%= f.select :fish_id, Fish.all.collect {|p| [ p.name, p.id ]}, include_blank: true %><br>
                                <label>Location:</label><br>
                                    <%= f.text_field :location %><br>
                            <div class="form-group">
                                <%= f.label :photo %>
                                <%= f.file_field :photo %>
                            </div>
                            <%= f.submit %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>