<div class="container background">
    <h1 class="h1-style"><%= @post.title %></h1>
    <div class='post-style'>
        <div class="row">
            <div class="col-sm">
                <img src="<%= @post.photo %>" class='post-image-style'/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                    <%= @post.caption %>
                <br>
                    User: <%= @post.user.email %>
                <br>
                    Location: <%= @post.location %>
                <br>
                    Species: <%= @post.fish_type %>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row comment-style">
        <div class="col-sm">
        <%= @post.comments.count %> Comments
                    <br>
        <%= render 'comments/index' %>
                    <br>
                Add a comment:
                    <br>
        <%= render 'comments/form' %>
                    <br>
        </div>
    </div>
</div>


